
/*tablet max 1020px*/

@media screen and (max-width: 615px){
     /* ESTILO [GERAL] */
    .flex{ 
        flex-direction: column;
        justify-content: center;
        
    }
    .topo-conteudo .flex { 
        flex-direction: column-reverse;
    }
    h2.titulo{
        font-size: 28px;
        text-align: center;
    }
   
    

   


    /* ESTILO DO CABEÇALHO  */

    .interface#logo-cabecalho-centro-celular {
        background-color: rgb(0, 0, 0);
        margin: 0;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
    }

    .logo#logo-cabecalho-centro-celular {
        display: flex;              /* Centralizar */
        justify-content: center;    /* Centralizar */
        align-items: center;        /* Centralizar */
        
    }
    .logo#logo-cabecalho-centro-celular img {
        width: 85px;
        display: block;
        
    }
    
    .menu-desktop {
        margin: 0;
        padding: 0;
        display: block;
        width: 105px;
        
    }
    #contato{
        display: block;
    }
    


    /* ESTILO DO CONTEÚDO  */
    section .topo-conteudo{
        padding: 20px 8%;
        
    }
    .botao-contato{
        display: flex;
        justify-content: center;
    }
    .imagem-lvitor img {
        width: 230px; /* Defina o tamanho desejado */
        height: auto; /* Mantém a proporção */
        padding-bottom: 55px;
        justify-content: center;
        text-align: center;
    }
    .topo-conteudo h1 {
        font-size: 25px;
        line-height: 29px;
        text-align: center;
    }
    section.especialidades{
        padding: 0 10%;
    }

    section.sobre{
        padding: 20px 8%;
    }
    
    .botao-social {
        display: flex;
        justify-content: center; /* Alinha os botões no centro */
        gap: 30px; /* Espaçamento entre os botões */
    }



    
    /* ESTILO DO RODAPÉ  */
    .linha-rodape {
        display: flex;
        justify-content: center; /* Distribui o espaço entre os itens */
        align-items: center; /* Alinha verticalmente no centro */
        width: 100%; /* Garantir que ocupe toda a largura disponível */
    }
    .logo-rodape {
        margin: 50px auto; /* Centraliza a logo dentro do seu contêiner */
    }
    .linha-rodape-borda {
        padding: 20px 0;
        color: rgba(255, 255, 255, 0.5);
        
    }
    .linha-rodape-borda p, a{
        color: rgba(255, 255, 255, 0.548);
        text-decoration: none;
        padding: 10px 0;
        transition: all 2s;
    }
    .linha-rodape-borda a:hover{
        color: #ff9900;
        text-decoration: none;
        padding: 10px 0;
        transition-duration: 2s;
    }
    .linha-rodape-borda i{
        color: #ff9900;
    }


}


