
/*tablet max 1020px*/

@media screen and (max-width: 1300px){
    .interface .menu-desktop li a{
        padding: 0 30px;
    }
}
@media screen and (max-width: 1112px){
    .interface .menu-desktop li a{
        padding: 0 20px;
    }
}
@media screen and (max-width: 1030px){
    .interface .menu-desktop li a{
        padding: 0 10px;
    }
}
@media screen and (max-width: 850px){
    
    .mobile-menu {
        display: block;
        color: #ff9900;
        font-size: 70px;
        position: relative;
        left: 35%;
    }
    .mobile-menu div {
        width: 32px;
        height: 2px;
        margin: 8px;
        transition: 0.3s;
    }
    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
    .nav-list{
        border-radius: 100px 0 0 100px;
        padding: 50px 0px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 35px;
        position: absolute;
        opacity: 97%;
        top: 116px;
        right: 0;
        width: 50dvw;
        height: 80dvh;

        background-color:  rgb(255, 166, 0);
        transform: translateX(100%);
        z-index: 1;
        transition: transform 0.3s ease-in;
        
    }
    .nav-list li{
        opacity: 0;
        margin-left: 0;
    }
    .nav-list li a{
        color: black;
        width: 160px;
        padding: 10px;
        border-radius: 10px;
    }
    .nav-list li a:hover{
        color: rgb(0, 0, 0);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.178);
    }
    
    .menu-desktop {
        display: block;
    }
    
    .nav-list.active {
        transform: translateX(0);
    }

    @keyframes efeitos {
        from {
          opacity: 0;
          transform: translateX(50px);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
      }
}

@media screen and (max-width: 615px){
     /* ESTILO [GERAL] */
    .flex{ 
        flex-direction: column;
        justify-content: center;
        
    }
    .topo-conteudo .flex { 
        flex-direction: column-reverse;
    }
    h2.titulo{
        font-size: 28px;
        text-align: center;
    }
   
    

   


    /* ESTILO DO CABEÇALHO  */

    .interface#logo-cabecalho-centro-celular {
        background-color: rgb(0, 0, 0);
        margin: 0;
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        align-items: center; /* Centraliza verticalmente */
    }

    .logo#logo-cabecalho-centro-celular {
        display: flex;              /* Centralizar */
        justify-content: center;    /* Centralizar */
        align-items: center;        /* Centralizar */
        
    }
    .logo#logo-cabecalho-centro-celular img {
        width: 85px;
        display: block;
              
    }
    
    .menu-desktop {
        margin: 0;
        padding: 0;
        display: block;
        width: 105px;
        
        
    }
    #contato{
        display: block;
    }
    


    /* ESTILO DO CONTEÚDO  */
    section .topo-conteudo{
        padding: 20px 8%;
        
    }
    .botao-contato{
        display: flex;
        justify-content: center;
    }
    .imagem-lvitor img {
        width: 230px; /* Defina o tamanho desejado */
        height: auto; /* Mantém a proporção */
        padding-bottom: 55px;
        justify-content: center;
        text-align: center;
    }
    .topo-conteudo h1 {
        font-size: 25px;
        line-height: 29px;
        text-align: center;
    }
    section.especialidades{
        padding: 0 10%;
    }

    section.sobre{
        padding: 20px 8%;
    }
    
    .botao-social {
        display: flex;
        justify-content: center; /* Alinha os botões no centro */
        gap: 30px; /* Espaçamento entre os botões */
    }



    
    /* ESTILO DO RODAPÉ  */
    .linha-rodape {
        display: flex;
        justify-content: center; /* Distribui o espaço entre os itens */
        align-items: center; /* Alinha verticalmente no centro */
        width: 100%; /* Garantir que ocupe toda a largura disponível */
    }
    .logo-rodape {
        margin: 50px auto; /* Centraliza a logo dentro do seu contêiner */
    }
    .linha-rodape-borda {
        padding: 20px 0;
        color: rgba(255, 255, 255, 0.5);
        
    }
    .linha-rodape-borda p, a{
        color: rgba(255, 255, 255, 0.548);
        text-decoration: none;
        padding: 10px 0;
        transition: all 2s;
    }
    .linha-rodape-borda a:hover{
        color: #ff9900;
        text-decoration: none;
        padding: 10px 0;
        transition-duration: 2s;
    }
    .linha-rodape-borda i{
        color: #ff9900;
    }


}

@media screen and (max-width: 590px){
    body {
        overflow-x: hidden; /* Remove a rolagem lateral */
    }
    .mobile-menu{
        overflow-x: hidden; /* Remove a rolagem lateral */

    }

    .mobile-menu {

        left: 15%;
    }
    .logo#logo-cabecalho-centro-celular img {
        width: 85px;
        
        display: block;
        position: relative;
        left: 40%;
        padding: 0;
            
    }

}